<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<head>
	<meta charset="UTF-8">
	<title>addNode</title>
</head>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Ueditor/themes/default/css/ueditor.css"/>  



<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/bootstrap.min.js"></script>


<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.min.js"></script>


<script type="text/javascript">

  window.UEDITOR_HOME_URL = "__PUBLIC__/Ueditor/";
  
  $(function(argument) {

    /*UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
     UE.Editor.prototype.getActionUrl = function(action) {
    if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
        return "{:U('Admin/Blog/uplodeImage','','php')}";
    } else if (action == 'uploadvideo') {
        return 'http://a.b.com/video.php';
    } else {
        return this._bkGetActionUrl.call(this, action);
    }
}*/

    var ue = UE.getEditor('container',{
   
    initialFrameWidth:1000,
    initialFrameHeight:800,

   
});
    

  })

</script>
<body>
<div  class="contianer">
   <form class="form-horizontal" action="{:U('Admin/Blog/addBlogHandle')}" method="post">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label" >长传博文名称</label>
             <div class="col-md-10">
              <input type="text" class="form-control" id="inputName" name='name'>
             </div>
         </div>
      <div class="form-group">
             <label for="inputTitle" class="col-sm-2 control-label">分类别名</label>
             <div class="col-md-10">
              <select class="form-control" name="cid">
                <foreach name="cates" item="cate">
                <option value="{$cate.id}">{$cate.name}</option>
              </foreach> 
              </select>
              </div>
   </div>
   <div class="roww">
     <div class=" col-md-offset-2">
   <foreach name="attrs" item='attr'>
             
            <div class="checkbox-inline">
               <label>
              <input type="checkbox" value="{$attr.id}" name="attrs[]">
              {$attr.name}
            </label>
          </div>
      
   </foreach>
   </div>
</div>
   <div class="form-group">
             <label for="inputTitle" class="col-sm-2 control-label">博文内容</label>
             <div class="col-md-10">
               
                   <script id="container" name="content" type="text/plain">

                   </script>
              </div>
   </div>

 

    

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>

</form>
	</div>
</body>
</html>