<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

<head>
	<meta charset="UTF-8">
	<title>listNode</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.min.css">

<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>


<script type="text/javascript" src="__PUBLIC__/Js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	<form method="post" action="{:U('Admin/Rbc/accessHandle')}">
		<table class="table">
		
		 <thead>
		 	<td>应用名称</td>
	
 
		 	
           </thead>
           <tbody >
			<foreach name="node" item='app'>
				<tr>
                     <td>
                     	<tr class='app'>
                     		<td>
                     		<div class="checkbox" >
                               <label>
                               <input type="checkbox" value="{$app.id}_1" name="node[]" level="1"  <if condition="$app['access']">checked="checked"</if>
                                 />
                                {$app.title}
                            </label>
                           </div>
                     	   </td>

                     		<td>
                     		<table class="table table-hover">
                     		<thead>
                     		<td >控制器名称</td>
                     		 <td>方法名称</td>
                     		</thead>
                     		
                     		<foreach name="app.child" item="controller">
                     			<tr class="controller">
                     			<td>
                     			<div class="checkbox">
                                   <label>
                                    <input type="checkbox" value="{$controller.id}_2" name="node[]" level="2"<if condition="$controller['access']">checked="checked"</if>
                                      />
                                     {$controller.title}
                                  </label>
                                  </div>
                     		         </td>
                                   <td>
                                   <foreach name="controller.child" item="method">
                     			     <ul style="list-style:none;float: left;">
                     			     	<li>
                     			     	<div class="checkbox">
                                          <label>
                                           <input type="checkbox" value="{$method.id}_3" name="node[]"level="3" <if condition="$method['access']">checked="checked"</if> >
                                            {$method.title}
                                           </label></div>
                                          </li>
                     			     </ul>
                     			   </foreach>                   				
                                    </td>
                     		       </tr>
                     		 </foreach>
                     		 </table>
                     		</td>
                     	</tr>

                     </td>
                </tr>
			</foreach>
		</tbody>
		
		
		</table>
		<input type="hidden" value="{$rid}" name="rid"></input>
		<input type="submit" class="btn btn-default" value="保存权限分配"></input>
    </form>
	</div>
</body>
<script type="text/javascript">
	$(function(){
         






        $('input[level=1]').click(function(){
        	var inputs=$(this).parents('.app').find('input');
     
        	$(this).attr('checked')?inputs.attr('checked','checked'):inputs.removeAttr('checked');
        });
       $('input[level=2]').click(function(){
       	    var inputs=$(this).parents('.controller').find('input');
       	    $(this).attr('checked')?inputs.attr('checked','checked'):inputs.removeAttr('checked');
       })
     




	})





</script>
</html>